@model RoleViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_INDPRO.cshtml";
}

<h1>Details Page</h1>
<div>

    <partial name="RolePartialViews/DeleteDetailsPartialView" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back to list</a>

</div>


