<!DOCTYPE html>
<html>
<head>
	<title>Product Catalog @ViewData["Tittle"] Form</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<link href="~/css/AuthStyle.css" rel="stylesheet" type="text/css" media="all" />
	
</head>
<body>
	<div class="main-w3layouts wrapper">
		<h1>@ViewData["Title"] Form</h1>
		@RenderBody();
		<div class="colorlibcopy-agile">
			<p>© 2024 All rights reserved </p>
		</div>
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("ValidationScriptSection", required: false)
</body>
</html>